<%=render 'user'%>
<%=link_to t('nav.history'), action:'history'%>
<%= form_tag({controller: "control"}, method: "post", class: "nifty_form") do %>
  <%= text_area_tag(:source, get_answer['source'], size: "30x10", placeholder: t('tn.source')) %>
  <%= text_area_tag(:show, get_answer['text'], readonly:true, size: "30x10", 
    placeholder: t('tn.translated'))%>
  <table>
    <tr>
    <td><%= text_area_tag(
      :fromlang,
      Main.langs[get_answer['lang'].split('-')[0]],
      readonly:true,
      size: "30x1" ) %></td>
    <td><%= select_tag( :tolang, 
      options_for_select(Main.langs.invert.sort.to_a, get_answer['tolang']) ) %></td>
    <td><%= submit_tag t('tn.translate') %></td>
    </tr>
  </table>
<% end %>
