<%= form_for user_session, url: {action: "create", locale: I18n.locale} do |f| %>
  <h1> <%= t('forms.title')%> </h1>
  <%= f.text_field :email, {placeholder: t('forms.email')} %> </br>
  <%= f.password_field :password, {placeholder: t('forms.password')} %> </br>
  <%= f.check_box :remember_me %><%= t('forms.remember_me')%> </br>
  <%= f.submit t('forms.sign_in') %> </br>
  <%= link_to t('forms.sign_up'), new_user_path %> </br>
  <%for lang in (I18n.available_locales - [I18n.locale])%>
  	<%= link_to lang, sign_in_path(locale: lang)%> </br>
  <% end %>
<% end %>